In [6]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\proqualigrad\anaconda3\lib\site-packages (2.1.4)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: openpyxl in c:\users\proqualigrad\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\proqualigrad\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\proqualigrad\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\proqualigrad\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\proqualigrad\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et_xmlfile in c:\users\proqualigrad\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\proqualigrad\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [7]:
import pandas as pd

In [32]:
import numpy as np

In [33]:
import matplotlib.pyplot as plt

In [34]:
#descobrir o diretório
import os
print(os.getcwd())

C:\Users\PROQUALIGRAD

In [35]:
#colocando a planilha
df = pd.read_excel('C:/Users/PROQUALIGRAD/Downloads/dados_analista.xlsx')

In [36]:
#converter de minusculo para maiusculo  
df.columns = df.columns.str.upper()

In [37]:
print(df.head())

   ID  PONTOS ESTADO    GENERO  IDADE  BENS  SALDO NA CONTA  PRODUTO  \
0   1     619     BA  Feminino     42     2               0        1
1   2     608     CE  Feminino     41     1         8380786        1
2   3     502     BA  Feminino     42     8         1596608        3
3   4     699     BA  Feminino     39     1               0        2
4   5     850     CE  Feminino     43     2        12551082        1

   POSSUI CARTAO  ATIVO     SALARIO  SAIU
0              1      1  10134888.0     1
1              0      1  11254258.0     0
2              1      0  11393157.0     1
3              0      0   9382663.0     0
4              1      1    790841.0     0

In [38]:
#VERIFICANDO DUPLICIDADE
print(df.duplicated().sum())

1

In [39]:
#REMOVENDO AS DUPLICATAS
df_sem_duplicados = df.drop_duplicates()

In [40]:
#CONTANDO AS LINHAS ANTES E DEPOIS
print("Linhas antes:", len(df))
print("Linhas depois:", len(df_sem_duplicados))

Linhas antes: 999
Linhas depois: 998

In [53]:
# criando um DataFrame de exemplo PARA TROCAR DE FEM E MAS PARA MASCULINO E FEMININO
dados = {'Gênero': ['Mas', 'Fem', 'Masculino', 'Feminino', 'Fem','M','F']}
df = pd.DataFrame(dados)

In [42]:
# dicionário para mapear os valores inconsistentes
mapeamento = {'Mas': 'Masculino', 'Fem': 'Feminino', 'F':'Feminino','M':'Masculino'}

In [43]:
#  mapeando à coluna 'Gênero'
df['Gênero'] = df['Gênero'].replace(mapeamento)

In [44]:
#vizulizando
print(df)

      Gênero
0  Masculino
1   Feminino
2  Masculino
3   Feminino
4   Feminino
5  Masculino
6   Feminino

In [45]:
# Verificando a presença de valores nulos
print(df.isnull().sum())

Gênero    0
dtype: int64

In [54]:
import pandas as pd

# Criando um dicionário com os dados
data = {'Salario':['10134888','11254258','19085779']}

# Criando o DataFrame
df = pd.DataFrame(data)

# Convertendo a coluna 'Salario' para inteiro (assumindo que representa valores salariais)
df['Salario'] = pd.to_numeric(df['Salario'], errors='coerce')  # Trata valores não numéricos

# Imprimindo o DataFrame
print(df)

    Salario
0  10134888
1  11254258
2  19085779

In [56]:
#preencher valores faltantes
df['Salario'].fillna(df['Salario'].median(), inplace=True)

In [57]:
#vendo se ainda há valores faltantes
print(df.isnull().sum())

Salario    0
dtype: int64

In [58]:
df.to_excel('dados_planilha.xlsx', index=False)  # Substitui o arquivo original

In [60]:
os.getcwd()

'C:\\Users\\PROQUALIGRAD'